<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationProperties</key>
	<dict>
		<key>ApplicationPath</key>
		<string>Applications/Wiretext-iOS.app</string>
		<key>Architectures</key>
		<array>
			<string>arm64</string>
		</array>
		<key>CFBundleIdentifier</key>
		<string>com.nulljosh.wiretext</string>
		<key>CFBundleShortVersionString</key>
		<string>1.0.2</string>
		<key>CFBundleVersion</key>
		<string>1</string>
		<key>SigningIdentity</key>
		<string>Apple Development: trommatic@icloud.com (8VQ3Z7494A)</string>
		<key>Team</key>
		<string>QMM486NPYC</string>
	</dict>
	<key>ArchiveVersion</key>
	<integer>2</integer>
	<key>CreationDate</key>
	<date>2026-07-29T11:24:14Z</date>
	<key>Distributions</key>
	<array>
		<dict>
			<key>adamId</key>
			<string>6794988951</string>
			<key>certificateSHA1</key>
			<string>1E8B75332F5AB715143A225117F0BF4C40EC8951</string>
			<key>destination</key>
			<string>upload</string>
			<key>identifier</key>
			<string>1ed73f24-f5f5-41b5-8ccd-45906816ce1a</string>
			<key>preparationEvent</key>
			<dict>
				<key>date</key>
				<string>2026-07-29T11:24:31Z</string>
				<key>errors</key>
				<array/>
				<key>infoMessages</key>
				<array/>
				<key>shortTitle</key>
				<string>Prepared</string>
				<key>state</key>
				<string>success</string>
				<key>title</key>
				<string>Prepared archive for uploading</string>
				<key>warnings</key>
				<array/>
			</dict>
			<key>providerId</key>
			<string>56091958-7499-4e11-b1e6-a101531bcb26</string>
			<key>task</key>
			<string>distribute</string>
			<key>teamID</key>
			<string>QMM486NPYC</string>
			<key>uploadDestination</key>
			<string>App Store</string>
			<key>uploadEvent</key>
			<dict>
				<key>date</key>
				<string>2026-07-29T11:25:29Z</string>
				<key>errors</key>
				<array/>
				<key>infoMessages</key>
				<array/>
				<key>shortTitle</key>
				<string>Uploaded</string>
				<key>state</key>
				<string>success</string>
				<key>title</key>
				<string>Uploaded to Apple</string>
				<key>warnings</key>
				<array/>
			</dict>
			<key>uploadedBuildNumber</key>
			<string>1</string>
		</dict>
	</array>
	<key>Name</key>
	<string>Wiretext-iOS</string>
	<key>SchemeName</key>
	<string>Wiretext-iOS</string>
</dict>
</plist>
